{% include 'store/base.html' %}

{% block content %}
<style rel="stylesheet">
    body{
       background-color: gray;
    }
    
   
   
   </style>
<body>
    <br><br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <div class="text-center">
                <i class="fa fa-envelope fa-3x text-success"></i>
            
            <br><br>
            <h4><strong>A verification link was sent to your email</h4></strong></h4>
            <hr>
            <h5> Please check you email</h5>
            </div>
        </div>
</body>

{% endblock %}