{% include 'store/base.html'  %}

{% block content %}
<style rel="stylesheet">
    body{
       background-color: gray;
    }
    
   
   
   </style>
<body>
    <br><br>
        <div class="container bg-white shadow-md p-5 form-layout">
            <div class="text-center">
                <i class="fa fa-credit-card-alt fa-3x text-success"></i>
            
            <br><br>
            <h4><strong>Payment success</h4></strong></h4>
            <hr>
            <h5> Your Order was Processed Successfully. </h5>
            </div>
        </div>
</body>

{% endblock %}